[Unit]
Description=Adept HTTP Server
After=network.target

[Service]

User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/snap/bin/node /opt/ngds/node-app/adept-app-ssl.js
StandardOutput=append:/opt/ngds/node-app/log/adept-app-ssl.log
StandardError=append:/opt/ngds/node-app/log/adept-error-ssl.log

[Install]
WantedBy=multi-user.target
